<link href="../static/style.css" rel="stylesheet" type="text/css" media="screen" />
<body>
<div id="wrapper">
	<div id="header-wrapper">
		<div id="header">
			<div id="logo">
				<h1><a href="#">DJ Chung  </a></h1>
        <p>thoughts while building</a></p>
			</div>
		  	<div id="menu">
				<ul>
					<li><a href="/">Home</a></li>
					<li><a href="/archive">All Posts</a></li>
					<li><a href="/inspiration">Inspiration</a></li>
					<li class="current_page_item"><a href="/about">About</a></li>
				</ul>
			</div>  
		</div>
	</div>
  {% for about in about_list %}
    <div id="page">
		<div id="page-bgtop">
			<div id="page-bgbtm">
				<div id="content">
					<div class="post">
						<h3 class="title">{{about.title}}</a></h3>
						<div style="clear: both;">&nbsp;</div>
						<div class="entry">
							 {{ about.content|safe}}
						</div>
					</div>
				</div>
      </div>
    </div>
    </div>
    {% endfor %}