{% load static %}
{% get_static_prefix as STATIC_PREFIX %}
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
<meta http-equiv="Content-Type" content="text/html;charset=utf-8" />
<meta name="robots" content="noarchive" />
<title>DJ Chung Blog</title>
<link href="{{ STATIC_PREFIX }}style.css" rel="stylesheet" type="text/css" media="screen" /> 
</head>
<body>
<div id="wrapper">
	<div id="header-wrapper">
		<div id="header">
			<div id="logo">
				<h1><a href="#">DJ Chung  </a></h1>
        <p> my journey through Silicon Valley</a></p>
			</div>
		  	<div id="menu">
				<ul>
					<li><a href="/">Home</a></li>
					<li class="current_page_item"><a href="/archive">All Posts</a></li>
					<li><a href="/inspiration">Inspiration</a></li>
					<li><a href="/about">About</a></li>
				</ul>
			</div>  
		</div>
  </div>
      {% for post in object_list %}
   <div id="page">
		<div id="page-bgtop">
			<div id="page-bgbtm">
				<div id="content">
					<div class="archive">
					<h3 class="title"><a href="{% url single_post slug=post.slug %}">{{post.title}}</a> </h3>
					</div>
				</div>
      </div>
    {% endfor %}
